
  
#breadcrumb-w-img {
    height: 300px;
    padding: 50px 0;
    background-image:url(../img/pic14.jpg);
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

    
      h2 {
          margin-top:30px;
          text-align: center;
        font-size: 32px;
        font-weight:bolder;
        color: pink;
        padding-bottom: 10px;
         }
/*product*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/cover1.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .hero-text {
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
.product{
    display: block;


}
.product-content{
        background: #f8f2e8;
    padding: 60px 30px;
    display: flex;

}
.product-content-left{
    
    margin-left: 50px;
    width: 50%;
   
    
}
.image-img{
    border: 10px solid white;
}

.image-img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.product-content-right{
    
    margin-left: 50px;
    padding: 28px 23px;
    background: #fff;
    border-radius: 10px;
    border: solid 1px #ddd;
    width: 80%;
}
.product-content-right-name h1{
    font-size: 22px;
    color: #3d1a1a;
    margin: 0;
    font-weight: bolder;
}
.product-content-right hr {

    clear: both;
    border-top:1px solid black;
    border-width: 1px 0 0;
    margin: 30px 0;
    height: 0;
}

.ProductPrice {
    font-weight: bolder;
}
.product-select-swatch{
    margin-top: 25px;
}
.product-select-swatch-text p{
    margin: 0;
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
    
    position: relative;
}
.select-swap{
    display: flex;
}
.data-one{
    
    -webkit-font-smoothing: antialiased;
    
    display: inline-block;
    position: relative;
   

    margin-left: 20px;
}
.input-opt {
    display: none;
}
.data-one label{
    border-radius: 10px;
    float: left;
   width: 130%;
    height: 35px;
    margin: 0;
    text-align: center;
    line-height: 35px;
    white-space: nowrap;
    font-size: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
}
.data-one .crossed-out {
    display: none;
}
.crossed-out {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.img-check {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

.data-one label.sd {
  border: 1px solid #e4393c; }


.data-one label span {
  color: #3d1a1a;
  font-size: 13px;
  line-height: normal;
  vertical-align: middle; }

.product-quantity{
    margin-top: 25px;
    display: flex;


    }
    .product-quantity p{
        font-weight: bolder;
        margin-top: 7px;
    }
.buttons_added {
    border-radius: 10px;
    margin-left: 15px;
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    background-color:#fff;
    height:2.2rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.product-actions {
    margin-top: 15px;
}


.product-actions #AddToCart {
    background: #3d1a1a;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}
.product-actions #AddToCart:hover {
    background: #c0c906; }
.product-actions #buy-now {
    background: #c0c906;
    color: #fff;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}
 .product-actions #buy-now:hover {
    background: #c0c906; }

/*tab*/
.product-tab {
    margin-left:40px

}
.tab {

    margin-left:50px;
  overflow: hidden;
  
}

/* Style the buttons inside the tab */
.tab button {
 
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: black;
  font-weight: bolder;
  padding: 10px 35px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.content-product-tab{
    margin: 0;
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc ;
}

/* Create an active/current tablink class */
.tab button.active {
    background: #3d1a1a;
    color: #c0c906;
}

/* Style the tab content */
.tabcontent {
    margin-top: 15px;
    padding: 10px;
  display: none;
  padding: 6px 12px;
  
  
  background:white;
}
.cmt-comment span{
    font-weight: bolder;
    font-size: 18px;
}
.text-comment{
    margin-top: 30px;
    width: 200px;
}


      
     