
/* MAIN */
.page_container{
    background-color: #F8F2E8;
    height: 82vh;
}
.main_content{
    height: 100%;
    width: 800px;
    margin: 0 auto;
    padding-top: 86px;
}
.wrap_lightbox{
    height: 400px;
    width: 800px;
    left: 297px;
    top: 220px;
    border-radius: 30px;    
    box-shadow: 3px 3px 15px 0px #00000040;
    background-color: white;

}
.box_left_signin{
    float: left;
    background: #FFE5D9;
    height: 400px;
    width: 320px;
    left: 0px;
    top: 0px;
    border-radius: 30px 0 0 30px;
    
}
h2{
    color: #FF1493;
    font-family: Playfair Display;
    font-weight: 400;
    font-style: normal;
}
.box_left_signin>h2{
    padding-top: 59px;
    font-size: 35px;
    line-height: 47px;
    text-align: center;

}
.main_logo{
    height: 70px;
    width: 72.29508209228516px;
    margin: 19px 0 0 124px;
    border-radius: 0px;

}
.box_left_signin label{
    margin: 14px 0 0 90px;
    font-family: Playfair Display;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    color: #FF1493;
}
.btnSignin{
    height: 45px;
    margin: 14px 0 0 79px ;
    border-radius: 30px;
    background: #FFFFFF;
    border: 1px solid #FF1493    ;
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF1493;
    width: 161px;

}
.box_right_signup{
    float: left;
}
.box_right_signup>h2{
    margin: 22px 0 0 22px;
    font-size: 28px;
    line-height: 37px;
}
.form-floating{
    width: 369px;
    margin: 25px 0 0px 56px;
}
.form-floating input{
    border-radius: 30px;
    border: 1px solid #FF1493;
    height: 45px !important;
}
.form-floating label {
    padding-top: 10px !important;
}
.box_right_signup button{
    background-color: white;
    color: #FF1493;
    border: 1px solid #FF1493;
    border-radius: 30px;
    margin: 35px 0 0 148px;
    height: 45px ;
    width: 165px;
    font-family: Playfair Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
}