html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

:root {
    --text-color: #000;
    --background-color: #c9c9c9;
    --navbar-color: #d1d1d1;
    --navbar-vertical-width : 240px;
}

body {
    background-color: var(--background-color);
}

::-webkit-scrollbar {
    width: 4px;
}

  /* Track   */
::-webkit-scrollbar-track {
    background-color: #000;
  }
   
  /* Handle   */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }
  
  /* Handle on hover   */
::-webkit-scrollbar-thumb:hover {
    background: rgba(177, 177, 177, 0.6);
}

.navbar-vertical {
    width: var(--navbar-vertical-width);
    align-items: unset;
    justify-content: unset;
    background-color: var(--navbar-color);
}

.navbar-brand {
    height: 70px;
}

.navbar__brand-img {
    width: 120px;
    height: 40px;
    margin-top: 9px;
}

.navbar__link:hover {
    color: #fdffff;
}

.navbar__link:focus {
    color: #fdffff;
}

.navbar__link {
    padding: 2px 32px;
    color: var(--text-color);
}

.navbar__link span {
    font-size: 1.4rem;
    font-weight: 700;
}

.navbar__link.active {
    color: #fdffff;
    background-color: #393243;
    border-left: 4px solid #7200a1;
}

.navbar__link-icon {
    font-size: 2.4rem;
    margin-right: 8px;
}

.navbar__item:hover .sub-navbar {
    display: block;
}

.sub-navbar {
    display: none;
}

.sub-navbar__link {
    font-size: 1.6rem;
    color: var(--text-color);
    display: block;
    padding: 8px 58px;
}

.header {
    height: 70px;
    margin-left: var(--navbar-vertical-width);
}

.header__name {
    color: var(--text-color);
    font-size: 2rem;
    margin-left: 16px;
}

.header__name:hover {
    color: #fdffff;
}

.header__user {
    margin-right: 20px;
    cursor: pointer;
    position: relative;
}

.header__user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.header__user-name {
    color: var(--text-color);
    font-size: 1.6rem;
}

.header__user:hover .header__signout {
    display: block;
}

.header__signout {
    position: absolute;
    top: calc(100% + 8px);
    right: -4px;
    width: 112px;
    background-color: #432275;
    z-index: 1;
    padding: 6px 0;
    border-radius: 9px;
    display: none;
}

.header__signout a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding: 8px;
    border-radius: 4px;
}

.header__signout a:hover {
    background-color: #563983;
}

.header__signout::before {
    position: absolute;
    content: "";
    top: -14px;
    left: 0;
    width: 100%;
    height: 16px;
}
/* MAIN */

.main__form, 
.main__container {
    margin-left: var(--navbar-vertical-width);
    min-height: 80vh;
}

.card {
    min-height: 100px;
    background-color: #231b2e;
    display: flex;
    flex-direction: row;
}

.card__content {
    width: 60%;
    margin: 16px 0 24px 16px;
}

.card__name,
.card__quantity {
    color: var(--text-color);
    word-wrap: break-word;
    line-height: 2rem;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
    font-weight: 500;
}

.card__quantity {
    display: block;
    font-size: 1.6rem;
}

.card__icon i {
    font-size: 3.8rem;
    color: var(--text-color);
    margin: auto;
}

.song__table,
.category__table,
.employee__table,
.playlist__table {
    font-size: 1.8rem;
}

.products__img,
.categories__img,
.employee__img,
.playlists__img {
    height: 80px;
}

.song__table a,
.category__table a,
.employee__table a,
.playlist__table a {
    color: var(--text-color);
    display: block;
}

.song__table a:hover,
.category__table a:hover,
.employee__table a:hover,
.playlist__table a:hover {
    color: #ffffff;
}

.form__search {
    outline: none;
    border: none;
    background-color: #2f2739;
    color: #ffff;
    padding: 8px;
    width: 50%;
    border-radius: 5px;
}

.form__search:focus {
    background-color: #432275;
}

.products__audio {
    width: 200px;
    height: 40px;
}

.products__audio-update {
    width: 100%;
    height: 50px;
}

.form__input,
.form__select{
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}

.form__input:focus {
    background-color: #ffffff;
    border: 2px solid #dee4eb;
    color: rgb(0, 0, 0);
    outline: none;
}

#level:disabled {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.form__btn {
    width: 100%;
    padding: 8px;
    font-size: 1.8rem;
}

.error {
    font-size: 1.8rem;
    color: rgb(255, 0, 0);
}

.success {
    font-size: 1.8rem;
    color: rgb(46, 241, 7);
}

.song__img img,
.playlist__img img,
.category__img img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.song__name,
.playlist__name,
.category__name {
    color: var(--text-color);
    text-align: center;
    margin-top: 12px;
}

.song__media {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
}

.song__media:hover {
    background-color: #2f2739;
}


.song__media-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.song__media-content {
    margin-left: 8px;
    flex: 1;
}

.song__media-name {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
}

.song__media-vocalist {
    font-size: 1.2rem;
    color: #726d79;
}

.song__add-to-playlist {
    position: relative;
}

.song__add-to-playlist:hover .song__add-to-playlist-icon,
.song__delete-from-playlist-btn:hover {
    color: var(--text-color);
    background-color: #4c4555;
}

.song__add-to-playlist-icon,
.song__delete-from-playlist-btn {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 4px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.song__delete-from-playlist-btn {
    background-color: transparent;
    outline: none;
    border: none;
}

.song__add-to-playlist:hover .song__playlist {
    display: block;
}

.song__playlist {
    position: absolute;
    top: 100%;
    right: 0;
    width: 228px;
    background-color: #432275;
    display: none;
}

.song__playlist-list {
    padding: 8px 0;
    margin: 0;
    list-style: none;
}

.song__playlist-btn {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
}

.song__playlist-btn i {
    margin-right: 8px;
}

.song__playlist-btn:hover {
    background-color: #563983;
}

.song__lyric {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 16px;
}

.pagination-item__link {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #432275;
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    margin: 0 4px;
}

.pagination-item__link:hover {
    color: var(--text-color);
    background-color: #432275;
}

.pagination-item--active .pagination-item__link {
    background-color: #432275;
}

.message {
    position: fixed;
    left: 0;
    bottom: 50px;
}

.message div {
    background-color: #432275;
    font-size: 1.4rem;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}