
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Praise&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,100&family=Smooch+Sans:wght@300&family=Ubuntu:wght@700&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=PT+Sans:wght@700&family=Praise&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,100&family=Smooch+Sans:wght@300&family=Ubuntu:wght@700&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Merriweather&family=PT+Sans:wght@700&family=Praise&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,100&family=Smooch+Sans:wght@300&family=Ubuntu:wght@700&family=ZCOOL+QingKe+HuangYou&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Lora:ital,wght@1,400;1,500&family=Merriweather&family=PT+Sans:wght@700&family=PT+Serif&family=Praise&family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,100&family=Smooch+Sans:wght@300&family=Ubuntu:wght@700&family=ZCOOL+QingKe+HuangYou&display=swap');
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a{
    color: #FF1493;
}
a:hover{
    color:#EE9595 ;
}
* {
    box-sizing: inherit;
}
ul.navbar__list{
    margin-top: 15px;
}
li.navbar__item{
    margin-top: 20px;
}
li.navbar__item:hover{
    background-color: #FFB6C1;
}

:root {
    --text-color: #FF1493;
    --background-color: #f8f2e8;
    --navbar-color: #ffbfbf;
    --navbar-vertical-width : 240px;
}

body {
    background-color: var(--background-color);
}


::-webkit-scrollbar {
    width: 4px;
}

  /* Track   */
::-webkit-scrollbar-track {
    background-color: #ffa2a2;
  }
   
  /* Handle   */
::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }
  
  /* Handle on hover   */
::-webkit-scrollbar-thumb:hover {
    background: rgba(177, 177, 177, 0.6);
}

.navbar-vertical {
    width: var(--navbar-vertical-width);
    align-items: unset;
    justify-content: unset;
    background-color: var(--navbar-color);
}

.navbar-brand {
    height: 70px;
}

.navbar__brand-img {
    width: 120px;
    height: 40px;
    margin-top: 9px;
}


.navbar__link:focus {
    color: #F08080;
}

.navbar__link {
    padding: 2px 32px;
    color: var(--text-color);
    font-family: 'Merriweather', serif;
    font-size: 23px;
}
.navbar__link:hover{
    color: white;
}
.navbar__link span {
    font-size: 1.4rem;
    font-weight: 700;
}

.navbar__link.active {
    color: #fdffff;
    background-color: #ff9fad;
    border-left: 4px solid #f8f2e8;
}

.navbar__link-icon {
    font-size: 2.4rem;
    margin-right: 8px;
    color: #FF1493;
}

.navbar__item:hover .sub-navbar {
    display: block;
}

.sub-navbar {
    display: none;
}

.sub-navbar__link {
    font-size: 1.6rem;
    color: var(--text-color);
    display: block;
    padding: 8px 58px;
}

.header {
    height: 70px;
    margin-left: var(--navbar-vertical-width);
    background-color:var(--navbar-color);
   display: flex;
   width: 100%;
   }

.header-intro{
    margin-top: 15px;
    display: flex;
    margin-left: 15px;

    width: 100%;
   
}
.header__name {
    color: black;


    font-size: 2rem;
    margin-left: 16px;
    margin-top: 5px;
    font-family: 'Merriweather', serif;


}
.header__name:hover{
    color: #FFB6C1;

}
.header__name:hover{
    color: #FFB6C1;
}



.header__user {
    
    cursor: pointer;
   display: flex;
   margin-left: 49%;
    
}

.header__user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.header__user-name {
    color: var(--text-color);
    font-size: 1.6rem;
}

.header__user:hover .header__signout {
    display: block;
}

.header__signout {
    
    top: calc(100% + 8px);
    margin-bottom: 15px;
    width: 112px;
    background-color: #3d1a1a;
    z-index: 1;
    padding: 6px 0;
    border-radius: 9px;
   
}
.header .header-text{

    margin-right: 15px;

    text-decoration: none;
    color: white;
    font-size: 25px;
    font-family:  'Smooch Sans', sans-serif;
}
.header__signout a {
    font-size: 14px;
    text-decoration: none;
    color: var(--text-color);
    display: block;
   padding-top: 3px;
    border-radius: 4px;
    text-align: center;
}

.header__signout a:hover {
    background-color: #c0c906;
    color: #dee4eb;
}

.header__signout::before {
    position: absolute;
    content: "";
    top: -14px;
    left: 0;
    width: 100%;
    height: 16px;
}
/* MAIN */

.main__form, 
.main__container {
    margin-left: var(--navbar-vertical-width);
    min-height: 80vh;
    margin-top: 30px;
}
.main-container-text{
    box-shadow: 1px 1px 2px 0px #00000040;
    background-color: white;
    border-radius: 7px;
    height: 50px;
    margin: 30px 10px;
    
    

}
.container-fluid{
    box-shadow: 1px 1px 2px 0px #00000040;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.card {
    min-height: 100px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
}

.card__content {
    width: 60%;
    margin: 16px 0 24px 16px;
}

.card__name,
.card__quantity {
    color: var(--text-color);
    word-wrap: break-word;
    line-height: 2rem;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; */
    font-weight: 500;
}

.card__quantity {
    display: block;
    font-size: 1.6rem;
}

.card__icon i {
    font-size: 3.8rem;
    color: var(--text-color);
    margin: auto;
}

.product__table,
.category__table,
.employee__table,
.playlist__table {
    font-size: 1.8rem;
}

.products__img,
.categories__img,
.employee__img,
.playlists__img {
    height: 80px;
}

.product__table a,
.category__table a,
.employee__table a,
.playlist__table a {
    color: black;
    display: block;
}

.product__table a:hover,
.category__table a:hover,
.employee__table a:hover,
.playlist__table a:hover {
    color: #EE9595;
}
.form__search {
    outline: none;
    border: none;
    background-color: #ffffff;
    color: #ffff;
    padding: 8px;


    width: 100%;
    float: left;

    color: rgb(0, 0, 0);
    padding: 8px;
    width: 100%;

    border-radius: 5px;
    
}

.form__search:focus {

    background-color: #fff;


    background-color: #fff;

    background-color: #ffffff;

}

.products__audio {
    width: 200px;
    height: 40px;
}

.products__audio-update {
    width: 100%;
    height: 50px;
}

.form__input,
.form__select{
    background-color: #ffffff;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}

.form__input:focus {
    background-color: #ffffff;
    border: 2px solid #dee4eb;
    color: rgb(0, 0, 0);
    outline: none;
}

#level:disabled {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.form__btn {
    width: 100%;
    padding: 8px;
    font-size: 1.8rem;
}

.error {
    font-size: 1.8rem;
    color: rgb(255, 0, 0);
}

.success {
    font-size: 1.8rem;
    color: rgb(46, 241, 7);
}

.product__img img,
.playlist__img img,
.category__img img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.product__name,
.playlist__name,
.category__name {
    color: var(--text-color);
    text-align: center;
    margin-top: 12px;
}

.product__media {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 8px;
}

.product__media:hover {
    background-color: #2f2739;
}


.product__media-img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.product__media-content {
    margin-left: 8px;
    flex: 1;
}

.product__media-name {
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 600;
}

.product__media-vocalist {
    font-size: 1.2rem;
    color: #726d79;
}

.product__add-to-playlist {
    position: relative;
}

.product__add-to-playlist:hover .product__add-to-playlist-icon,
.product__delete-from-playlist-btn:hover {
    color: var(--text-color);
    background-color: #4c4555;
}

.product__add-to-playlist-icon,
.product__delete-from-playlist-btn {
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 4px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.product__delete-from-playlist-btn {
    background-color: transparent;
    outline: none;
    border: none;
}

.product__add-to-playlist:hover .product__playlist {
    display: block;
}

.product__playlist {
    position: absolute;
    top: 100%;
    right: 0;
    width: 228px;
    background-color: #432275;
    display: none;
}

.product__playlist-list {
    padding: 8px 0;
    margin: 0;
    list-style: none;
}

.product__playlist-btn {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    width: 100%;
    padding: 8px 16px;
    outline: none;
    border: none;
    background-color: transparent;
    text-align: left;
}

.product__playlist-btn i {
    margin-right: 8px;
}

.product__playlist-btn:hover {
    background-color: #563983;
}

.product__lyric {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-top: 16px;
}

.pagination-item__link {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #432275;
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    margin: 0 4px;
}

.pagination-item__link:hover {
    color: var(--text-color);
    background-color: #432275;
}

.pagination-item--active .pagination-item__link {
    background-color: #432275;
}

.message {
    position: fixed;
    left: 0;
    bottom: 50px;
}

.message div {
    background-color: #432275;
    font-size: 1.4rem;
    color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.fs-3{
    background-color: var(--navbar-color);
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: 'League Spartan', sans-serif;

}
.fs-3:hover{
    background-color: #c0c906;
    color: #dee4eb;
}
.table-sm>:not(caption)>*>* {
     padding: 18px;
     font-size: 15px;
     font-family: 'PT Serif', serif;
     background-color: #d3afaf40;
}
.btn-dark {
    color: #fff;
    background-color: #3d1a1a;
    border-radius:10px;

}
.bi-pencil-fill,
.bi-trash-fill{
    color: #FF1493;
    font-size: 2.4rem;
}
.table-light {
    --bs-table-bg: #d3afaf40;
    --bs-table-striped-bg: #ecedee;
    --bs-table-striped-color: #000;
    --bs-table-active-bg: #dfe0e1;
    --bs-table-active-color: #000;
    --bs-table-hover-bg: #e5e6e7;
    --bs-table-hover-color: #000;
    color: #000;
    border-color: #dfe0e1;
}