@media (max-width: 63.9375em) {
    .hide-on-mobile-tablet {
        display: none;
    }

    .main__container,
    .main__form,
    .header,
    .header__user {
        margin: 0;
    }

    .header__mobile-icon,
    .header__mobile-btn {
        display: flex;
    }

}

